@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: #5E358C;
    font-family: 'Rubik', sans-serif;
    color: white;
    background-image: url('./assets/background-vectors.svg');
    background-size: 90%;
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame,
.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    text-align: center;
    line-height: 5%;
    height: fit-content;
}

.content span {
    font-style: italic;
}

.content a {
    text-decoration: underline;
    color: white;
}

#frame {
    width: 75vw;
    max-width: 60em;
}

.title {
    text-align: center;
    font-size: 3.5vw;
    margin-bottom: 2em;
}

h1 {
    margin-bottom: 0.75em;
}

.title p {
    font-size: 0.75em;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials a {
    text-decoration: none;
    margin: 1em;
}

.socials img {
    width: 2em;
}

@media screen and (max-width: 800px) {

    body {
        background-size: 70% no-repeat;
        background-position: center;
    }

    #frame {
        display: none;
    }

    .subtitle {
        width: fit-content;
        line-height: normal;
    }
}